.woocommerce-page{

    .main-woocommerce{
        padding-top: 100px;
        padding-bottom: 100px;
        .woocommerce-breadcrumb{
            color: var(--link-color);
            a{
                color: inherit;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .woocommerce-result-count{
            padding: 10px 0;
            color: #888;
            font-family: var(--body-family);
            font-style: italic;
            font-size: 18px;
            margin-top: 0px;
            margin-bottom: 5px;
            @media screen and (max-width: 600px) {
                width: 100%;
                display: block;
                float: none;
            }
        }
        form{
            margin: 0px 0 30px 0;
            overflow: hidden;
            background: #f8f7f7;
            position: relative;
            border-radius: 3px;
            padding: 0 5px;
            &.woocommerce-ordering{
                .orderby{
                    position: relative;
                    z-index: 3;
                    background: transparent;
                    padding: 10px;
                    width: 100%;
                    max-width: none;
                    border: none;
                    outline: none;
                    color: #888;
                    font-family: var(--body-family);
                    font-style: italic;
                    box-shadow: none;
                }
            }
            @media screen and (max-width: 600px) {
                float: none;
                max-width: 300px;
            }
        }
        .products{
            .product-item{
                .product{
                    
                    text-align: center;
                    line-height: 0;
                    margin-bottom: 40px;
                    .onsale{
                        min-height: 3em;
                        min-width: 3em;
                        line-height: 3;
                        background: var(--link-color, #d41b65);
                        border-radius: 1px;
                        color: #fff;
                        font-size: 14px;
                        left: 0;
                        right: auto;
                        padding: 0 10px;
                        margin: 0;
                        z-index: 3;
                    }
                    img{
                        margin-bottom: 0;
                    }
                    .woocommerce-loop-product__link{
                        display: inline-block;
                        width: 100%;
                    }
                    .woocommerce-loop-product__title{
                        font-size: 16px;
                        font-weight: 700;
                        font-family: var(--body-family);
                        letter-spacing: 0;
                        line-height: 26px;
                        padding: 20px 0 10px;
                        color: #222;
                    }
                    .star-rating{
                        margin-left: auto;
                        margin-right: auto;
                        &::before{
                            color: var(--link-color);
                        }
                    }
                    .price{
                        margin: 0;
                        padding: 10px 0;
                        font-size: 16px;
                        color: var(--link-color);
                        .amount{
                            color: var(--link-color);
                        }
                    }
                    .add_to_cart_button{
                        position: relative;
                        overflow: hidden;
                        background-color: var(--link-color);
                        color: #FFFFFF;
                        padding: 10px 12px;
                        &::after{
                            background: #fff;
                            content: "";
                            height: 155px;
                            left: -75px;
                            opacity: 0.2;
                            position: absolute;
                            top: -50px;
                            transform: rotate(35deg);
                            transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                            width: 30px;
                            z-index: 1;
                        }
                        &:hover{
                            &::after{
                                left: 120%;
                                transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                            }
                        }
                    }
                    .added_to_cart{
                        position: absolute;
                        top: 45px;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 5px 12px;
                        background-color: var(--link-color);
                        color: #ffffff;
                        font-size: 14px;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 32px;
                        min-width: 92px;
                        border-radius: 3px;
                        font-weight: 700;
                        transition: all 0.3s;
                        z-index: 3;
                        &:hover{
                            background-color: #eaeaea;
                            color: #333;
                        }
                    }
                }
            }
        }
        .woocommerce-pagination{
            .page-numbers{
                border: 0;
                li{
                    border: 0;
                    .page-numbers{
                        display: inline-block;
                        margin: 3px 5px;
                        padding: 0;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        vertical-align: top;
                        width: 30px;
                        color: var(--link-color);
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                        border-radius: 50%;
                        background: #fff;
                        font-weight: 600;
                        transition: 0.3s;
                        &.current{
                            color: #d9d9d9;
                            cursor: default;
                        }
                        &:hover{
                            color: #d9d9d9;
                        }
                    }
                    .prev,
                    .next{
                        width: 36px;
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: var(--body-family);
                        background: var(--link-color, #333);
                        color: #fff;
                        border-radius: 3px;
                        font-size: 22px;
                        text-transform: uppercase;
                        white-space: nowrap;
                        &::after{
                            background: #fff;
                            content: "";
                            height: 155px;
                            left: -75px;
                            opacity: 0.2;
                            position: absolute;
                            top: -50px;
                            transform: rotate(35deg);
                            transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                            width: 30px;
                            z-index: 1;
                        }
                        &:hover{
                            &::after{
                                left: 120%;
                                transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                            }
                        }
                    }
                }
            }
        }
        .goza-sidebar{
            .wg-wrap{
                margin-bottom: 35px;
                &:last-child{
                    margin-bottom: 0;
                }
                .wg-title{
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 30px;
                    position: relative;
                    &::after{
                        content: "";
                        height: 2px;
                        width: 50px;
                        left: 0px;
                        bottom: 0px;
                        background: var(--link-color, #d41b65);
                        position: absolute;
                    }
                }
                form{
                    padding: 0;
                    background: #FFFFFF;
                    position: relative;
                    input[type="search"]{
                        border-radius: 3px;
                        height: 50px;
                        padding: 10px;
                        border: 1px solid rgba(53, 53, 53, 0.1);
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        max-width: 100%;
                        color: #353535;
                        background-color: rgba(255, 255, 255, 0.93);
                        font-family: var(--body-family);
                        font-weight: 700;
                        outline: none;
                        &:focus{
                            border: 1px solid rgba(212, 27, 101, 0.5);
                            -webkit-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                            -moz-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                            box-shadow: none;
                        }
                    }
                    button{
                        font-size: 0;
                        position: relative;
                        overflow: hidden;
                        min-width: 50px;
                        height: 50px;
                        border: 0;
                        border-radius: 3px;
                        margin-left: 1px;
                        &::before{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 28px;
                            font-family: "FontAwesome";
                            content: "\f002";
                            font-size: 16px;
                            font-weight: normal;
                            color: #FFFFFF;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            background: var(--link-color, #d41b65);
                        }
                        &::after{
                            background: #fff;
                            content: "";
                            height: 155px;
                            left: -55px;
                            opacity: 0.2;
                            position: absolute;
                            top: -55px;
                            transform: rotate(35deg);
                            transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                            width: 30px;
                            z-index: 1;
                        }
                        &:hover{
                            &::after{
                                left: 150%;
                                transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                            }
                        }
                    }
                }
                .product_list_widget{
                    li{
                        margin-bottom: 5px;
                        a{
                            line-height: 1.5;
                        }
                        img{
                            width: 52px;
                        }
                    }
                }
                .wp-block-tag-cloud{
                    a{
                        display: inline-block;
                        font-size: 14px !important;
                        font-family: var(--body-family);
                        font-weight: 400;
                        color: #353535;
                        height: 40px;
                        line-height: 40px;
                        padding: 0 15px;
                        margin: 3px 1px;
                        background-color: #eaeaea;
                        border-radius: 3px;
                        position: relative;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        &:hover{
                            background-color: var(--link-color,#d41b65);
                            color: #fff;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 991px) {
            padding-top: 80px;
            padding-bottom: 80px;

            .products{
                .product-row{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 40px 20px;
                    padding-bottom: 30px;
                }
                .product-item{
                    .product{
                        width: 100%;
                        margin-bottom: 0;
                    }
                }
            }

            .goza-sidebar{
                .wg-wrap{
                    .wp-block-tag-cloud{
                        a{
                            padding: 0 10px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 767px){
            padding-top: 60px;
            padding-bottom: 60px;

            .goza-sidebar{
                padding-top: 45px;
            }
        }

        @media screen and (max-width: 450px){
            .products{
                .product-row{
                    grid-gap: 35px 15px;
                }
            }
        }
    }

}