.woocommerce-page{

    .woocommerce{
        .woocommerce-cart-form{ 
            table{
                border: none;
                tr{
                    &:hover{
                        td{
                            border-color: rgba(212, 27, 101, 0.5);
                        }
                    }
                }
                th{
                    padding: 16px 10px;
                    font-size: 14px;
                    text-transform: uppercase;
                    background: #f8f7f7;
                }
                td{
                    padding: 16px 10px; 
                    border-top: none;
                    border-bottom: 1px solid;
                    border-color: #f8f7f7;
                    -webkit-transition: all 0.6s;
                    transition: all 0.6s;
                }
                .remove{
                    color: #d9d9d9 !important;
                    &:hover{
                        background: none;
                        color: #555 !important;
                    }
                }
                img{
                    border-radius: 5px;
                }
                input[type="number"]{
                    line-height: 1;
                    border-radius: 3px;
                    border: 1px solid rgba(53, 53, 53, 0.1);
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    max-width: 100%;
                    padding: 10px;
                    width: 3.631em;
                    text-align: center;
                    outline: none;
                    &:focus{
                        border: 1px solid rgba(212, 27, 101, 0.5);
                        -webkit-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                        -moz-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                        box-shadow: none;
                        outline: none;
                    }
                }
                .actions{ 
                    .coupon{
                        #coupon_code{
                            width: 200px;
                            border: 1px solid rgba(53, 53, 53, 0.1);
                            -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                            max-width: 100%;
                            margin: 0 4px 0 0;
                            outline: 0;
                            border-radius: 30px;
                            padding: 12px 20px;
                            vertical-align: middle;
                            float: none;
                            &:focus{
                                border: 1px solid rgba(212, 27, 101, 0.5);
                                -webkit-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                                -moz-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                                box-shadow: none;
                                outline: none;
                            }
                        }
                        button.button{
                            float: none;
                        }
                    }
                    .button{
                        position: relative;
                        overflow: hidden;
                        background-color: var(--link-color);
                        color: #FFFFFF;
                        padding: 10px 12px;
                        vertical-align: middle;
                        &::after{
                            background: #fff;
                            content: "";
                            height: 155px;
                            left: -75px;
                            opacity: 0.2;
                            position: absolute;
                            top: -50px;
                            transform: rotate(35deg);
                            transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                            width: 30px;
                            z-index: 1;
                        }
                        &:hover{
                            color: #FFFFFF;
                            background-color: var(--link-color);
                            &::after{
                                left: 120%;
                                transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                            }
                        }
                    }
                }
            }
            
        }

        .cart-collaterals{
            h2{
                font-weight: 700;
                font-size: 25px;
                line-height: 56px;
                letter-spacing: 0px;
                color: var(--heading-color, #333);
            }
            table{
                border: none;
                tr{
                    &:hover{
                        th,td{
                            border-color: var(--link-color);
                        }
                    }
                }
                th{
                    padding: 16px 16px 16px 0;
                    border-top: none;
                    border-bottom: 1px solid;
                    border-color: #f8f7f7;
                    -webkit-transition: 0.6s;
                    transition: 0.6s;
                }
                td{
                    padding: 16px;
                    border-top: none;
                    border-bottom: 1px solid;
                    border-color: #f8f7f7;
                    -webkit-transition: 0.6s;
                    transition: 0.6s;
                }
            }
            .button{
                position: relative;
                overflow: hidden;
                background-color: var(--link-color);
                color: #FFFFFF;
                padding: 16px 30px;
                display: inline-block;
                border-radius: 100px;
                &::after{
                    background: #fff;
                    content: "";
                    height: 155px;
                    left: -75px;
                    opacity: 0.2;
                    position: absolute;
                    top: -50px;
                    transform: rotate(35deg);
                    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                    width: 30px;
                    z-index: 1;
                }
                &:hover{
                    color: #FFFFFF;
                    background-color: var(--link-color);
                    &::after{
                        left: 120%;
                        transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {

            .woocommerce-cart-form{
                table{
                    tr{
                        &:hover{
                            td{
                                border-color: #f8f7f7;
                            }
                        }
                    }
                    .actions{
                        .coupon{
                            text-align: left;
                            padding-bottom: 10px;
                            #coupon_code{
                                margin-right: 0;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }

            }
  
        }

        @media screen and (max-width: 450px){

            .woocommerce-cart-form{
                table{
                    .actions{
                        .coupon{
                            #coupon_code{
                                width: 100%;
                            }
                            button.button{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .cart-collaterals{
                .button{
                    width: 100%;
                }
            }
        }

    }

}