.woocommerce-page{

    .woocommerce{

        .woocommerce-form-coupon{
            .form-row-first, .form-row-last{
                @media screen and (min-width: 451px){
                    width: calc(50% - 4.5px);
                }
            }
            input{
                border-radius: 3px;
                border: 1px solid rgba(53, 53, 53, 0.1);
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                max-width: 100%;
                padding: 10px;
                &:focus{
                    border: 1px solid rgba(212, 27, 101, 0.5);
                    -webkit-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                    -moz-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                    box-shadow: none;
                    outline: none;
                }
            }
            .button{
                position: relative;
                overflow: hidden;
                background-color: var(--link-color);
                color: #FFFFFF;
                display: inline-block;
                height: 48px;
                &::after{
                    background: #fff;
                    content: "";
                    height: 155px;
                    left: -75px;
                    opacity: 0.2;
                    position: absolute;
                    top: -50px;
                    transform: rotate(35deg);
                    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                    width: 30px;
                    z-index: 1;
                }
                &:hover{
                    color: #FFFFFF;
                    background-color: var(--link-color);
                    &::after{
                        left: 120%;
                        transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }
            }
        }

        .woocommerce-checkout{
            #customer_details{
                width: calc(100% + 30px);
                margin-left: -15px;
                margin-right: -15px;
                .col-1{
                    width: 50%;
                    max-width: 100%;
                }
                .col-2{
                    width: 50%;
                    max-width: 100%;
                }
                input,
                textarea{
                    border-radius: 3px;
                    border: 1px solid rgba(53, 53, 53, 0.1);
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    max-width: 100%;
                    padding: 10px;
                    outline: 0;
                    &:focus{
                        border: 1px solid rgba(212, 27, 101, 0.5);
                        -webkit-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                        -moz-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
            h3{
                margin-top: 20px;
                font-weight: 600;
                font-size: 25px;
                line-height: 38px;
                letter-spacing: 0px;
                color: var(--heading-color, #333);
            }
            table{
                border: none;
                border-collapse: collapse;
                tr{
                    &:hover{
                        td{
                            border-color: rgba(212, 27, 101, 0.5);
                        }
                    }
                }
                th,td{
                    -webkit-transition: 0.6s;
                    transition: 0.6s;
                    border-top: none;
                    border-bottom: 1px solid;
                    border-color: #f8f7f7;
                    padding: 16px 10px;
                }
                th{
                    font-size: 14px;
                    text-transform: uppercase;
                    background: #f8f7f7;
                    border: 1px solid #f8f7f7;
                    border-left: none;
                    border-right: none;
                }
                td{
                    &:first-child{
                        padding-left: 0;
                    }
                    border-left: none;
                    border-right: none;
                }
                tfoot{
                    tr{
                        &:hover{
                            th{
                                border-color: rgba(212, 27, 101, 0.5);
                            }
                        }
                    }
                    th{
                        padding-left: 0;
                        background: transparent;
                    }
                }
            }
            .woocommerce-checkout-payment{
                .button{
                    position: relative;
                    overflow: hidden;
                    background-color: var(--link-color);
                    color: #FFFFFF;
                    display: inline-block;
                    &::after{
                        background: #fff;
                        content: "";
                        height: 155px;
                        left: -75px;
                        opacity: 0.2;
                        position: absolute;
                        top: -50px;
                        transform: rotate(35deg);
                        transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                        width: 30px;
                        z-index: 1;
                    }
                    &:hover{
                        color: #FFFFFF;
                        background-color: var(--link-color);
                        &::after{
                            left: 120%;
                            transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                }
            }
        }

        .woocommerce-order{
            .woocommerce-order-overview{
                padding-left: 0;
                margin-bottom: 20px;
                li{
                    margin-bottom: 1em;
                }
            }
            h2{
                font-weight: 700;
                font-size: 25px;
                line-height: 56px;
                letter-spacing: 0px;
                color: var(--heading-color, #333);
            }
            table{
                border-collapse: collapse;
                border: none;
                thead{
                    th{
                        font-size: 14px;
                        text-transform: uppercase;
                        background: #f8f7f7;
                        border: 1px solid #f8f7f7;
                    }
                }
                tr{
                    &:hover{
                        td{
                            border-color: rgba(212, 27, 101, 0.5);
                        }
                    }
                }
                th,td{
                    -webkit-transition: 0.6s;
                    transition: 0.6s;
                    border-top: none;
                    border-bottom: 1px solid;
                    border-color: #f8f7f7;
                    padding: 16px 10px;
                }
                td{
                    &:first-child{
                        padding-left: 0;
                    }
                }
                tfoot{
                    tr{
                        &:hover{
                            th{
                                border-color: rgba(212, 27, 101, 0.5);
                            }
                        }
                    }
                    th{
                        padding-left: 0;
                    }
                }
            }
            .woocommerce-customer-details{
                address{
                    padding: 16px;
                }
            }
        }

        @media screen and (max-width: 768px) {
  
            .woocommerce-checkout{
                #customer_details{
                    .col-1{
                        width: 100%;
                    }
                    .col-2{
                        width: 100%;
                    }
                }
                table{
                    tr{
                        &:hover{
                            td{
                                border-color: #f8f7f7;
                            }
                        }
                    }
                    tfoot{
                        tr{
                            &:hover{
                                th{
                                    border-color: #f8f7f7;
                                }
                            }
                        }
                    }
                }
            }
            .woocommerce-order{
                table{
                    tr{
                        &:hover{
                            td{
                                border-color: #f8f7f7;
                            }
                        }
                    }
                    tfoot{
                        tr{
                            &:hover{
                                th{
                                    border-color: #f8f7f7;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 450px){

            .woocommerce-form-coupon{
                padding: 16px;
                .form-row{
                    width: 100%;
                }
                .button{
                    width: 100%;
                }
            }

            .woocommerce-checkout{
                #customer_details{
                    .form-row{
                        width: 100%;
                    }
                }
            }
        }

    }

}