.woocommerce-page{
    .woocommerce{
        h2{
            font-weight: 700;
            font-size: 40px;
            line-height: 56px;
            letter-spacing: 0px;
            color: var(--heading-color, #333);
        }
        .woocommerce-MyAccount-navigation{
            ul{
                list-style: none;
                padding-left: 0;
                a{
                    font-weight: 500;
                    text-decoration: none;
                    transition: all 0.3s ease 0s;
                }
            }
        }
        .woocommerce-MyAccount-content{
            h2{
                font-weight: 600;
                font-size: 30px;
                line-height: 38px;
                letter-spacing: 0px;
                color: var(--heading-color,#333);
            }
            table{
                &.order_details{
                    border-collapse: collapse;
                    border: none;
                    thead{
                        th{
                            font-size: 14px;
                            text-transform: uppercase;
                            background: #f8f7f7;
                            border: 1px solid #f8f7f7;
                        }
                    }
                    tr{
                        &:hover{
                            td {
                                border-color: rgba(212, 27, 101, 0.5);
                            }
                        }
                    }
                    th{
                        transition: 0.6s;
                        border-top: none;
                        border-bottom: 1px solid;
                        border-color: #f8f7f7;
                        padding: 16px 10px;
                    }
                    td{
                        &:first-child{
                            padding-left: 0;
                        }
                        transition: 0.6s;
                        border-top: none;
                        border-bottom: 1px solid;
                        border-color: #f8f7f7;
                        padding: 16px 10px;
                    }
                    tfoot{
                        tr{
                            &:hover{
                                th {
                                    border-color: rgba(212, 27, 101, 0.5);
                                }
                            }
                        }
                        th {
                            padding-left: 0;
                        }
                    }
                }
                th{
                    padding: 6px 10px;
                }
                td{
                    padding: 6px 10px;
                }
            }
            .woocommerce-Address{
                max-width: 100%;
                width: 50%;
                header{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 15px;
                }
                h3{
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 38px;
                    letter-spacing: 0px;
                    color: var(--heading-color,#333);
                }
                .edit{
                    position: relative;
                    overflow: hidden;
                    background-color: var(--link-color);
                    color: #FFFFFF;
                    font-size: 16px;
                    padding: 5px 10px;
                    border-radius: 3px;
                    display: inline-block;
                    &::after{
                        background: #fff;
                        content: "";
                        height: 155px;
                        left: -75px;
                        opacity: 0.2;
                        position: absolute;
                        top: -50px;
                        transform: rotate(35deg);
                        transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                        width: 30px;
                        z-index: 1;
                    }
                    &:hover{
                        color: #FFFFFF;
                        background-color: var(--link-color);
                        &::after{
                            left: 120%;
                            transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                }
            }
            address{
                padding: 16px;
            }
        }

        form{
            input{
                border-radius: 3px;
                border: 1px solid rgba(53, 53, 53, 0.1);
                transition: all 0.3s ease 0s;
                max-width: 100%;
                padding: 10px;
                height: auto;
                &:focus{
                    border: 1px solid rgba(212, 27, 101, 0.5);
                    box-shadow: none;
                    outline: none;
                }
            }
            .show-password-input{
                right: 10px;
                top: 0;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        @media screen and (max-width: 991px){
            .woocommerce-MyAccount-content{
                .woocommerce-Address {
                    width: 100%;
                    padding: 0;
                }
            }
        }

        @media screen and (max-width: 768px){
            .woocommerce-MyAccount-content{
                table{
                    &.order_details{
                        tr{
                            &:hover{
                                td {
                                    border-color: #f8f7f7;
                                }
                            }
                        }
                        tfoot{
                            tr{
                                &:hover{
                                    th {
                                        border-color: #f8f7f7;                                    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 450px){
            form{
                &.login{
                    padding: 16px;
                }
                .form-row{
                    width: 100%;
                }
            }
        }
    }
}