.woocommerce-page{
    &.woocommerce-cart,
    &.woocommerce-checkout,
    &.woocommerce-account{
        .product-hero{
            margin-left: calc(-50vw + 50%);
            margin-right: calc(-50vw + 50%);
            max-width: 100vw;
        }
    }
    .product-hero{
        padding: 30px 0;
        min-height: 350px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000000;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapper{
            text-align: center;
            position: relative;
        }
        .page-icon{
            line-height: 0;
            margin-bottom: 10px;
            img{
                max-width: 50px;
                width: 100%;
                height: auto;
            }
        }
        .page-title{
            color: #ffffff;
            font-size: 30px;
            font-weight: 600;
            line-height: 1;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        .breadcrumbs{
            color: var(--link-color);
            line-height: 1;
            &::before{
                content: "\F015";
                font-family: "FontAwesome";
                display: inline-block;
                margin-right: 5px;
            }
            a{
                color: inherit;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .woocommerce{
        padding-top: 100px;
        padding-bottom: 100px;
        .woocommerce-info{
            border-top-color: var(--link-color);
            &::before{
                color: var(--link-color);
            }
        }
        .button{
            position: relative;
            overflow: hidden;
            background-color: var(--link-color);
            color: #FFFFFF;
            font-size: 16px;
            padding: 10px 12px;
            vertical-align: middle;
            &::after{
                background: #fff;
                content: "";
                height: 155px;
                left: -75px;
                opacity: 0.2;
                position: absolute;
                top: -50px;
                transform: rotate(35deg);
                transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                width: 30px;
                z-index: 1;
            }
            &:hover{
                color: #FFFFFF;
                background-color: var(--link-color);
                &::after{
                    left: 120%;
                    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }

        .select2-container{
            .select2-selection{
                line-height: normal;
                padding: 6px 10px;
                border-radius: 3px;
                height: auto;
                border: 1px solid rgba(53, 53, 53, 0.1);
                .select2-selection__rendered{
                    padding: 0;
                }
                .select2-selection__arrow{
                    height: 40px;
                }
            }
        }

        @media screen and (max-width: 991px) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        @media screen and (max-width: 768px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @media screen and (max-width: 450px){
            .woocommerce-error{
                padding: 16px 16px 16px 40px;
                &::before{
                    left: 1em;
                }
            }
            .woocommerce-info{
                padding: 16px 20px 16px 40px;
                &::before{
                    left: 1em;
                }
            }

        }

    }

}