.be-ss-hero{
    padding: 30px 0;
    min-height: 300px;
    position: relative;
    background-color: #e5e5e5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &--bg-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        opacity: 0;
    }
    &--content{
        position: relative;
    }
    .be-ss-hero-inner{
        text-align: center;
        width: 100%;
        &__icon{
            line-height: 0;
            margin-bottom: 10px;
            img{
                max-width: 50px;
                width: 100%;
                height: auto;
            }
        }
        &__heading{
            color: #333;
            font-size: 30px;
            font-weight: 600;
            line-height: 1;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        &__breadcrumb{
            color: #d44e71;
            line-height: 1;
            &::before{
                content: "\f015";
                font-family: "FontAwesome";
                display: inline-block;
            }
            a{
                color: inherit;
                &:hover{
                    text-decoration: underline;
                }
            }
            span{
                color: inherit;
            }
        }
    }

}