.grid-services-box-block {
    padding-top: 80px;
    padding-bottom: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .gsb-heading {
        font-size: 38px;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0px;
        @include media-breakpoint-down(lg) {
            font-size: 36px;
            line-height: 1.5;
        }

        @include media-breakpoint-down(md) {
            font-size: 30px;
            line-height: 1.5;
        }
    }

    .gsb-subheading {
        font-size: 16px;
        color: #ffffff;
        line-height: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .gsb-services-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        margin-top: 32px;

        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-down(xs) {
            grid-template-columns: repeat(1, 1fr);
        }

        .gsb-services-item {
            background-color: #ffffff;
            border-radius: 3px;
            padding: 40px 30px;
            position: relative;
            box-shadow: 0 0 25.5px 0 rgba(0, 0, 0, 0.26);

            &:hover {
                .gsb-services-item__wrap-hover {
                    padding-top: 25px;
                    padding-bottom: 25px;
                    opacity: 1;
                    visibility: visible;
                    background: var(--link-color, #ed9913);
                }
            } 

            &__wrap {
                &-icon {
                    margin-bottom: 10px;

                    img {
                        max-height: 58px;
                    }
                }

                &-title {
                    line-height: 28px;
                    font-weight: bold;
                    font-size: 23px;
                    font-style: normal;
                    letter-spacing: 0px;
                    margin: 0;
                }
            }

            &__wrap-hover {
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                height: 100%;
                background-color: #f0ad42;
                padding: 0 20px;
                top: 0;
                visibility: hidden;
                opacity: 0;
                left: 0;
                text-decoration: none;
                color: white;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -o-transition: 0.4s;


                .gsb-services-item__wrap-title {
                    line-height: 28px;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 0px;
                    font-style: normal;
                    margin-bottom: 10px;
                    color: #ffffff;
                }

                .gsb-services-item__wrap-desc {
                    line-height: 20px;
                    font-size: 16px;
                    margin: 0;
                    color: #ffffff;
                }
            }
        }
    }
}