.be-fw-portfolio-block{
    &.alignfull{
        > .container{
            max-width: 100% !important;
        }
    }

    &-inner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-categorys{
        display: flex;
        align-items: center;
        margin: 0 auto 32px auto;
        padding: 0;

        @media (max-width: 575.98px) { 
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 16px;
        }

        &--item{
            list-style-type: none;

            @media (max-width: 575.98px) { 
                width: 100%;
            }

            &:first-child{
                a{
                    @media (min-width: 576px) {
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                    }
                }
            }

            &:last-child{
                a{
                    @media (min-width: 576px) {
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                    }
                }
            }

            &:not(:last-child){
                a{
                    @media (min-width: 576px) {
                        border-right: 1px solid #4D6995;
                    }
                }
            }

            a{
                padding: 20px 40px;
                display: inline-block;
                font-size: 16px;
                line-height: 115%;
                font-weight: var(--heading-font-weight);
                letter-spacing: var(--heading-letter-spacing);
                font-family: var(--heading-family);
                background-color:var(--filter-bg-nm);
                color:var(--filter-cl-nm);
                transition: $transition-base;

                @include media-breakpoint-down(md) {
                    padding:15px 20px;
                    font-size: 15px;
                }

                @include media-breakpoint-down(sm) {
                    padding:15px 16px;
                    font-size: 14px;
                }

                @media (max-width: 575.98px) { 
                    width: 100%;
                    padding: 12px 0;
                    text-align: center;
                }

                &.active, &:hover{
                    background-color: var(--filter-bg-hv);
                    color: var(--filter-cl-hv);
                    border-color: var(--filter-bg-hv);
                }
            }
        }
    }

    &--list-posts{
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        row-gap:var(--row-gap);
        column-gap: var(--column-gap);

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(var(--columns-tb), 1fr);
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(var(--columns-mb), 1fr);
        }
        
        .item-fw-portfolio{
            border: solid 0.5px rgba(212, 27, 101, 0.5);
            border-top: none;
            position: relative;
            padding-bottom: 56px;
            &--content{
                padding: 32px 16px;
                text-align: left;
            }

            &--thumbnail{
                width: 100%;
                height: 300px;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                }
            }

            &--heading{
                font-size: 20px;
                line-height: 115%;
                margin: 0 0 16px 0;
                color: var(--hd-color);
            }

            &--excerpt{
                color: var(--ex-color);
                p{
                    margin: 0;
                }
            }

            &--cta{
                position: absolute;
                left: 16px;
                bottom: 32px;
                width: 100%;
                padding-top: 16px;
                margin-top: 16px;
                i, span{
                    color:var(--btn-color)
                }
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 30%;
                    height: 1px;
                    background: #dedede;
                }
            }
        }
    }

    &--loadmore{
        > a{
            margin-top: 32px;
        }
    }
}
