.be-gallery-block{
    height: auto;
    position: relative;

    &--not-post{
        background-color: #eee;
        padding-top: 5vh;
        padding-bottom: 5vh;
        h5{
            font-size: 20px !important;
            line-height: 110% !important;
            margin: 0 !important;
            padding: 0 !important;
            text-align: center;
            color: var(--link-color); 
        }
    }

    &:not(.full-width){
        width: 100%;
    }

    &.full-width{
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        max-width: 100vw
    }

    &--inner{
        display: grid;
        width: 100%;
        @include media-breakpoint-down(sm){ 
            grid-row-gap: 15px !important;
            grid-column-gap: 15px !important;
        }
        .item-gallery{
            position: relative;
            display: inline-block;
            img{
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
            }
        }
    }

    &.is-style-ngo-dark{
        .be-gallery-block--inner{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            @include media-breakpoint-down(sm) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            .item-gallery{
                &--icon{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    &::before{
                        position: absolute;
                        content: " ";
                        width: 100%;
                        height: 100%;
                        left: 0px;
                        top: 0px;
                        background-color: rgba(0, 0, 0, 0.75);
                        transition: 0.4s ease;
                        opacity: 0;
                        z-index: 3;
                    }
                    svg{
                        width: 100%;
                        height: auto;
                        max-width: 20px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) scale(0.8);
                        transition: 0.25s ease;
                        z-index: 9;
                        max-width: 40px;
                        opacity: 0;
                        path{
                            fill: var(--link-color);
                        }
                    }
                }
                
                &:hover{
                    .item-gallery--icon{
                        &::before{
                            opacity: 1;
                        }
                        svg{
                            visibility: visible;
                            opacity: 1;
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                }

                &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9){
                    @include media-breakpoint-up(md) {
                        max-height: 250px;
                    }
                }

                &:first-child{
                    @include media-breakpoint-up(md) {
                        grid-column: span 2;
                    }
                }

                &:nth-child(4){
                    @include media-breakpoint-up(md) {
                        grid-row: 1/3;
                        grid-column: 5/7;
                        max-height: 510px;
                    }
                }

                &:nth-child(5){
                    @include media-breakpoint-up(md) {
                        grid-column: span 2;
                        grid-row: 2/4;
                        max-height: 516px;
                    }
                }

                &:nth-child(8), &:nth-child(9){
                    @include media-breakpoint-up(md) {
                        grid-column: span 2;
                    }
                }
            }
        }
    }

    &.is-style-water-charity{
        .be-gallery-block--inner{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            @include media-breakpoint-down(lg) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            @include media-breakpoint-only(xs) {
                grid-template-columns: 1fr 1fr;
            }

            .item-gallery{
                &--overlay{
                    width: calc(100% - 25px);
                    height: calc(100% - 25px);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(0,0,0,0.8);
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.25s ease;
                }

                &--name, &--icon{
                    position: absolute;
                }

                &--icon{
                    border-radius: 0 0 0 50% !important;
                    width: 45px;
                    height: 46px;
                    background-color: var(--link-color);
                    right: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, 0%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    opacity: 0;
                    transition: 0.4s ease;
                    svg{
                        width: 100%;
                        height: auto;
                        max-width: 20px;
                        path{
                            fill: #fff;
                        }
                    }
                }

                &--name{
                    font-size: 25px;
                    line-height: 35px;
                    color: #ffffff;
                    font-family: var(--heading-family);
                    font-weight: 700;
                    display: inline-block;
                    height: auto;
                    width: auto;
                    bottom: 35px;
                    left: 35px;
                    transition: 0.4s ease;
                    transform: matrix3d(0.8, 0, 0, 0, 0, 0, 0.8, -0.000666667, 0, -1, 0, 0, 0, 0, 0.001, 0.999999);
                    margin: 0;
                    padding: 0;
                    @include media-breakpoint-down(lg){
                        font-size: 20px;
                        line-height: 110%;
                        left: 15px;
                        bottom: 15px;
                        padding-right: 10px;
                    }

                    @include media-breakpoint-down(md) {
                        font-size: 17px;
                    }
                }

                &:hover{
                    .item-gallery--overlay{
                        opacity: 1;
                        visibility: visible;
                    }

                    .item-gallery--icon{
                        opacity: 1;
                        transform: translate(0%, 0%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    }

                    .item-gallery--name{
                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    }
                }

                &:first-child{
                    @media (min-width: 576px) and (max-width:991.98px) { 
                        grid-column: 1/3;
                    }
                }

                &:nth-child(2){
                    @include media-breakpoint-up(lg){
                        grid-row: 1/3;
                        grid-column: 2/4;
                    }
                    @media (min-width: 576px) and (max-width:991.98px) { 
                        grid-row: 1/3;
                        grid-column: 3/5;
                    }
                }

                &:nth-child(3){
                    @media (min-width: 576px) and (max-width:991.98px) { 
                        grid-column: 1/3;
                    }
                }

                &:nth-child(4){
                    @include media-breakpoint-up(lg) {
                        grid-column: 4/5;
                        grid-row: 1/3;
                    }

                    @include media-breakpoint-up(xl) {
                        grid-row: 1/3;
                        grid-column: 5/6;
                    }

                    @media (min-width: 576px) and (max-width:991.98px) { 
                        grid-column: 1/5;
                        max-height: 350px;
                    }
                }

                &:nth-child(5){
                    @media (min-width: 576px) and (max-width:1199.98px) { 
                        grid-column: 1/3;
                    }
                }

                &:nth-child(6){
                    @media (min-width: 576px) and (max-width:1199.98px) { 
                        grid-column: 3/5;
                    }
                }
            }
        }
    }

    &.is-style-charity-organization{
        .be-gallery-block--inner{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            @include media-breakpoint-down(lg) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            @include media-breakpoint-down(md) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @include media-breakpoint-down(sm) {
                grid-template-columns: 1fr 1fr;
            }

            @include media-breakpoint-only(xs) {
                grid-template-columns: 1fr;
            }

            .item-gallery{
                &--overlay{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    visibility: hidden;
                    opacity: 0;
                    transform-style: flat;
                    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    background: rgba(0,0,0,0.65);
                    transition: 0.25s ease;
                }

                &--title, &--icon{
                    position: absolute;
                }

                &--icon{
                    border-radius: 0 0 0 50% !important;
                    width: 45px;
                    height: 46px;
                    background-color: var(--link-color);
                    right: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, 0%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    opacity: 0;
                    transition: 0.4s ease;
                    svg{
                        width: 100%;
                        height: auto;
                        max-width: 20px;
                        path{
                            fill: #fff;
                        }
                    }
                }

                &--desc{
                    transition: 0.6s ease;
                    visibility: hidden;
                    opacity: 0;
                    transform-origin: 50% 100% 0px;
                    transform-origin: 50% 0% 0px;
                    transform-style: flat;
                    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.000833333, 0, 1, 0, 0, 0, 0, 0, 1);
                    font-size: 28px !important;
                    line-height: 112% !important;
                    color: #ffffff !important;
                    font-weight: 700 !important;
                    font-style: italic !important;
                    font-family: var(--heading-family, "Poppins", sans-serif); 
                    display: inline-block;
                    height: auto;
                    width: auto;
                    top: 35px;
                    left: 35px;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    @media (max-width: 1600px){
                        font-size: 20px !important;
                    }

                    @include media-breakpoint-down(lg){
                        left: 15px;
                        top: 15px;
                        padding-right: 10px;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 18px;
                    }
                }

                &--title{
                    font-size: 16px;
                    line-height: 26px;
                    color: #ffffff;
                    font-family: var(--body-family, "Arimo", sans-serif);
                    font-weight: 700;
                    text-transform: uppercase;
                    display: inline-block;
                    height: auto;
                    width: auto;
                    bottom: 35px;
                    left: 35px;
                    transition: 0.4s ease;
                    visibility: hidden;
                    opacity: 0;
                    transform-origin: 50% 100% 0px;
                    transform-style: flat;
                    transform: matrix3d(0.8, 0, 0, 0, 0, 0, 0.8, -0.000666667, 0, -1, 0, 0, 0, 0, 0.001, 0.999999);
                    margin: 0;
                    padding: 0;
                    @include media-breakpoint-down(lg){
                        font-size: 20px;
                        line-height: 110%;
                        left: 15px;
                        bottom: 15px;
                        padding-right: 10px;
                    }

                    @include media-breakpoint-down(md) {
                        font-size: 17px;
                    }
                }

                &:hover{
                    .item-gallery--overlay{
                        opacity: 1;
                        visibility: visible;
                    }

                    .item-gallery--desc{
                        opacity: 1;
                        visibility: visible;
                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    }

                    .item-gallery--title{
                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                        opacity: 1;
                        visibility: visible;
                    }
                }   
            }
        }
    }
}