.editor-styles-wrapper .block-editor-block-list__layout{
    .be-events-listing-block{
        .item-event{
            &--name{
                font-size: 22px;
                line-height: 30px;
                font-weight: 600;
                margin: 0;
            }
        }

        &.is-style-ev-fill{
            .item-event{
                &--name{
                    font-size: 24px;
                    line-height: 26px;
                    color: var(--title-color, --heading-color, #333);
                    margin-top: 10px;
                }
            }
        }

        &.is-style-ev-special{
            .item-event{
                &--name{
                    color: #fff;
                }
            }
        }
    }
}