.block-editor-block-list__block .be-give-slider-block .be-give-slider-block-inner{
  display: flex;
  overflow: auto;
  box-sizing: border-box;
}

.block-editor-block-list__block .be-give-slider-block .be-give-slider-block-inner .item-give{
  min-width: 380px;
}

.block-editor-block-list__block .be-give-slider-block .be-give-slider-block-inner .item-give a{
  text-decoration: none;
}

.block-editor-block-list__block .be-give-slider-block-inner .featured-image{
  max-height: 233px;
}  