.editor-styles-wrapper .block-editor-block-list__layout{
    .be-grid-gallery-image-text-block--heading{
        font-size: 36px !important;
        color: #ffffff !important;
        line-height: 50px !important;
        text-align: center;
        font-weight: 600 !important;
    }

    .be-grid-gallery-image-text-block--cta{
        a{
            color: #fff;
            text-decoration: none !important;
        }
    }
}