.is-root-container {
    overflow: hidden;

    .wp-block {
        max-width: 1160px;
    }

    .wp-block[data-align="left"],
    .wp-block[data-align="right"] {
        height: auto;
    }

    .wp-block[data-align="full"] {
        max-width: none;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    p,
    div:not(.wp-block-goza-blocks-goza-button),
    a {
        font-family: var(--body-family, "Arimo", sans-serif);
        font-size: var(--body-font-size, 16px);
        font-weight: var(--body-font-weight, 400);
        line-height: var(--body-line-height, 1.625);
        color: var(--body-color, #666);
    }

    a {
        color: var(--link-color, #666);
        text-decoration: none;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

.is-root-container {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        margin-bottom: 8px;
        font-family: var(--heading-family, "Poppins", sans-serif);
        font-weight: var(--heading-font-weight, 700);
        line-height: 1.2;
        color: var(--heading-color, #333);
        margin-top: 0;
    }

    h1 {
        font-size: var(--h1-font-size, 55px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h1-line-height, 65px);
        font-style: var(--heading-font-style, normal);
    }

    h2 {
        font-size: var(--h2-font-size, 42px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h2-line-height, 56px);
        font-style: var(--heading-font-style, normal);
    }

    h3 {
        font-size: var(--h3-font-size, 36px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h3-line-height, 38px);
        font-style: var(--heading-font-style, normal);
    }

    h4 {
        font-size: var(--h4-font-size, 28px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h4-line-height, 32px);
        font-style: var(--heading-font-style, normal);
    }

    h5 {
        font-size: var(--h5-font-size, 24px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h5-line-height, 28px);
        font-style: var(--heading-font-style, normal);
    }

    h6 {
        font-size: var(--h6-font-size, 20px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h6-line-height, 26px);
        font-style: var(--heading-font-style, normal);
    }

    .h1 {
        font-size: var(--h1-font-size, 55px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h1-line-height, 65px);
        font-style: var(--heading-font-style, normal);
    }

    .h2 {
        font-size: var(--h2-font-size, 42px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h2-line-height, 56px);
        font-style: var(--heading-font-style, normal);
    }

    .h3 {
        font-size: var(--h3-font-size, 36px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h3-line-height, 38px);
        font-style: var(--heading-font-style, normal);
    }

    .h4 {
        font-size: var(--h4-font-size, 28px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h4-line-height, 32px);
        font-style: var(--heading-font-style, normal);
    }

    .h5 {
        font-size: var(--h5-font-size, 24px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h5-line-height, 28px);
        font-style: var(--heading-font-style, normal);
    }

    .h6 {
        font-size: var(--h6-font-size, 20px);
        letter-spacing: var(--heading-letter-spacing, 0);
        line-height: var(--h6-line-height, 26px);
        font-style: var(--heading-font-style, normal);
    }

    mark,
    .mark {
        padding: 0;
        background: transparent;
    }

}

.editor-styles-wrapper .container-xl,
.editor-styles-wrapper .container-lg,
.editor-styles-wrapper .container-md,
.editor-styles-wrapper .container-sm,
.editor-styles-wrapper .container {
    max-width: 1160px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: none;
    border: none;
}