.block-editor-block-list__block .be-post-slider-block .be-post-slider-block-inner{
    display: flex;
    box-sizing: border-box;
}


.block-editor-block-list__block .be-post-slider-block .be-post-slider-block-inner .item-post a{
    text-decoration: none;
}

.block-editor-block-list__block .be-post-slider-block-inner .item-post-thumbnail{
    max-height: 233px;
}   

.block-editor-block-list__block .be-post-slider-block-inner .item-post-comment{
    z-index: 9;
    color: #fff;
}

.block-editor-block-list__block .be-post-slider-block.is-style-2 .be-post-slider-block-inner .item-post-date > span{
    color: #fff;
}

.block-editor-block-list__block .be-post-slider-block-inner .item-post-title{
    font-size: 22px;
    line-height: 130%;
    color: #333;
}

.block-editor-block-list__block .be-post-slider-block.is-style-2 .be-post-slider-block-inner .item-post-date{
    top: -60px;
}


.block-editor-block-list__block {
    .be-post-slider-block{
        &-inner{
            margin-left: -15px;
            margin-right: -15px;
            .item-post {
                width: calc(100% / 3);
                display: none;
                padding-left: 15px;
                padding-right: 15px;
                &:first-child, &:nth-child(2), &:nth-child(3){
                    display: block;
                }

                &-inner{
                    margin: 0;
                }
            }
        }
    }
}
