.wp-block-columns{
    &.goza-ss-vd-about{
        > .wp-block-column{
            &:nth-child(2){
                @media (min-width: 1200px) {
                    padding-left: 43px;
                }
            }


            .video-popup-actions-block .block-inner__heading{
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

.be-team-carousel-ab-page{
    .be-team-carousel-inner .item-team--avatar img{
        height: 320px;
    }
}