.be-menu-template{
    ul.menu{
        padding:0;
        list-style-type:none;
        li {
            a{
                padding: 5px 2px;
                font-size: 15px;
                line-height: 30px;
                color: var(--header-text-color, rgb(10, 10, 10));
                &:hover{
                    color: var(--link-color);
                }
            }
        }
    }
}

#mega-menu-wrap-main-menu{
    ul{
        li{
            .mega-sub-menu{
                box-shadow: 0 3px 6px rgba(0,0,0,0.075);
            }
        }
    }
    
    .widget_products{
        .product_list_widget{
            li{
                img{
                    width: 42px;
                }
            }
        }
    }
}