@import 'home';
@import '404';
@import 'home_ngo';
@import 'home_water';
@import 'home_ngo_dark';
@import 'home_orgazination';
@import 'home_earthquake';
@import 'water-charity';
@import 'home_charity2';
@import 'home_dream';
@import 'home_charity_organization';
@import 'home_charity'