.wp-block-image{
    &.be-gz-ngo-dark-img-service{
        img{
            cursor: pointer;
            transition-duration: .3s;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            &:hover{
                animation-name: be-animation-wobble-top;
            }
        }
    }
}


.wp-block-column{
    &.be-column-count-down{
        align-self: auto;
    }
}

.wp-block-goza-blocks-goza-container{
    &.be-ss-about-ngo-dark{
        overflow: inherit;
        &::after, &::before{
            content: " ";
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            left: 0px;
            z-index: 1;
            @include media-breakpoint-down(md) { 
                content: none;
            }
        }

        &::before{
            width: 100px;    
            top: -140px;
            height: 264px;
            background-image: url('../resources/assets/images/home-ngo-dark/icon-gz-ngo-dark-001.png');
            @include media-breakpoint-down(lg) {
                width: 80px;
                height: 220px;
            }
        }

        &::after{
            bottom: 90px;
            width: 100px;
            height: 120px;
            background-image: url('../resources/assets/images/home-ngo-dark/icon-gz-ngo-dark-002.png');
            @include media-breakpoint-down(lg) {
                bottom: 0px;
                width: 80px;
                height: 100px;
            }
        }
    }

    &.be-ss-count-down-ngo-dark{
        overflow: inherit;
        &::before{
            content: " ";
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            right: 0;
            transform: rotate(180deg);
            z-index: 1;
            width: 100px;    
            top: -140px;
            height: 264px;
            background-image: url('../resources/assets/images/home-ngo-dark/icon-gz-ngo-dark-001.png');
            @include media-breakpoint-down(lg) {
                width: 80px;
                height: 220px;
                top: -35%;
            }

            @include media-breakpoint-down(md) { 
                content: none;
            }
        }
    }

    &.be-ss-single-post-ngo-dark{
        overflow: inherit;
        &::after, &::before{
            content: " ";
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            @include media-breakpoint-down(md) { 
                content: none;
            }
        }

        &::before{
            width: 100px;    
            top: -20px;
            height: 264px;
            left: 0;
            background-image: url('../resources/assets/images/home-ngo-dark/icon-gz-ngo-dark-001.png');
            @include media-breakpoint-down(lg) {
                width: 80px;
                height: 220px;
                top:-10%;
            }
        }

        &::after{
            bottom: 0px;
            width: 100px;
            height: 120px;
            right: 0;
            background-image: url('../resources/assets/images/home-ngo-dark/icon-gz-ngo-dark-003.png');
            @include media-breakpoint-down(lg) {
                width: 80px;
                height: 100px;
                bottom:-10%;
            }
        }
    }
}

.n2-ss-slider{
    .n2-ss-button-container{
        a.be-cta-slider-gz-ngo-dark{
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            z-index: 9;
            &::before{
                content: " ";
                display: inline-block;
                width: 0;
                height: 0;
                -webkit-transform: rotate(360deg);
                border-style: solid;
                border-width: 0 0 0 0;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                transition: 0.5s;
                border-color: transparent transparent transparent #2d2e40;
            }

            &::after{
                content: " ";
                display: inline-block;
                width: 0;
                height: 0;
                -webkit-transform: rotate(360deg);
                border-style: solid;
                border-width: 0 0 0 0;
                position: absolute;
                top: 0;
                right: 0;
                transition: 0.5s;
                z-index: -1;
                border-color: transparent #2d2e40 transparent transparent;
            }

            &:hover{
                &::after{
                    border-width: 0 165px 165px 0;
                }

                &::before{
                    border-width: 165px 0 0 165px;
                }
            }
        }
    }
}



.wp-block-columns{
    &.be-row-services-gz-ngo-dark{
        @include media-breakpoint-only(md){
            flex-wrap: nowrap !important;
        }
    }

    &.be-row-counter-gz-ngo-dark{
        @include media-breakpoint-only(md){
            gap: 2em 0;
            flex-wrap: wrap !important
        }

        @include media-breakpoint-only(sm) {
            gap: 2em 0;
            flex-wrap: wrap !important
        }
        
        .be-counter-up.is-style-ngo-dark{
            .be-counter-up-box{
                padding: 0;
                &__heading{
                    @include media-breakpoint-only(lg) {
                        font-size: 20px;
                        line-height: 110%;
                        margin-top: -30px;
                    }
                }
            }
        }

        > .wp-block-column{
            @include media-breakpoint-only(md) {
                flex-basis: 50%!important;
                width: 50%;
            }

            @include media-breakpoint-only(sm) {
                flex-basis: 50%!important;
                width: 50%;
            }

            @include media-breakpoint-only(xs) { 
                display: flex;
                justify-content: center;
            }
        }
    }
}