.wp-block-goza-blocks-goza-columns{
    &.be-gz-co-row-ab{
        .goza-layout-column-wrap{
            @media (min-width: 601px) and (max-width: 991.98px) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "col1 col2" "col3 col3";
            }

            .goza-block-layout-column{
                &:nth-child(1) {
                    @media (min-width: 601px) and (max-width: 991.98px) {
                        -ms-grid-row: 1;
                        -ms-grid-column: 1;
                    }
                }

                &:nth-child(2) {
                    @media (min-width: 601px) and (max-width: 991.98px) {
                        -ms-grid-row: 1;
                        -ms-grid-column: 2;
                    }
                }

                &:nth-child(3) {
                    @media (min-width: 601px) and (max-width: 991.98px) {
                        -ms-grid-row: 2;
                        -ms-grid-column: 1 / span 2;
                    }
                }
            }
        }
    }
}