// Contact Form 7
.wpcf7-form{
    text-align: center;
    .wpcf7-form-control-wrap{
        input[type="text"],
        input[type="password"],
        input[type="number"],
        input[type="email"],
        input[type="date"],
        input[type="color"],
        input[type="tel"],
        input[type="search"],
        textarea,
        select{
            border-radius: 3px;
            border: 1px solid rgba(53, 53, 53, 0.1);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            max-width: 100%;
            &:focus{
                border: 1px solid rgba(212, 27, 101, 0.5);
                -webkit-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                -moz-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                box-shadow: none;
                outline: none;
            }
        }
        input{
            font-size: 16px;
            padding-left: 20px;
            background: #f6f6f6;
            height: 60px;
            line-height: 60px;
            width: 100%;
        }
        textarea.wpcf7-textarea{
            font-size: 16px;
            padding: 10px;
            padding-left: 20px;
            background: #f6f6f6;
            height: 200px;
            width: 100%;
        }
    }
    p{
        margin-bottom: 10px;
        label{
            width: 100%;
            text-align: left;
            margin-bottom: 0;
        }
        input[type="submit"]{
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            width: 100%;
            height: 60px;
            line-height: 60px;
            letter-spacing: 0;
            padding: 0 50px;
            border-radius: 2px;
            color: #fff;
            border: none;
            background: #d41b65;
            transition: all 0.3s;
        }
        &:has(.wpcf7-submit){
            display: inline-block;
            position: relative;
            overflow: hidden;
            &::after{
                background: #fff;
                content: "";
                height: 155px;
                left: -75px;
                opacity: 0.2;
                position: absolute;
                top: -50px;
                transform: rotate(35deg);
                transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                width: 30px;
                z-index: 1;
            }
            &:hover{
                &::after{
                    left: 120%;
                    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
    }

}

// Newsletter
.tnp-subscription{
    form{
        label{
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            padding: 5px;
            margin: 0;
        }
        input[type=email]{
            width: 100%;
            height: 50px;
            padding: 10px;
            display: block;
            background-color: #f4f4f4;
            background-image: none;
            text-shadow: none;
            color: #444;
            font-size: 14px;
            margin: 0;
            line-height: normal;
            border-radius: 3px;
            border: 1px solid rgba(53, 53, 53, 0.1);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            max-width: 100%;
            box-sizing: border-box;
            &:focus{
                border: 1px solid rgba(212, 27, 101, 0.5);
                -webkit-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                -moz-box-shadow: 0px 0px 5px rgba(212, 27, 101, 0.25);
                box-shadow: none;
                outline: none;
            }
        }
        input[type=submit]{
            border-radius: 3px;
            border: none;
            background: var(--link-color,#d41b65);
            color: #fff;
            padding: 8px 12px;
            vertical-align: top;
            font-family: var(--body-family);
            font-size: 13px;
            line-height: 20px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            &:hover{
                background: #a7154f;
            }
        }
    }
}
form.give-form.give-form-type-multi button.give-btn.give-btn-modal {
    display: block;
    margin: 0 auto !important; 
}