.site-header {
    .goza-header-main{
        .goza-header-button-donate{
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
    }

    
    .goza-header-main--menu {
        #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link{
            @include media-breakpoint-down(lg) {
                padding: 0  10px;
            }
        }
        .navbar-nav {
            .menu-item {
                .sub-menu {
                    display: block;
                    min-width: 200px;
                    padding: 0px;
                    background: rgb(255, 255, 255);
                    border-radius: 1px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px;
                    transition: all 0.3s ease 0s;
                    margin: 0;
                    opacity: 0;
                    visibility: hidden;
                    top: calc(100% + 20px);
                    left: -20px;

                    li {
                        &:not(:last-child) {
                            border-bottom: 1px solid rgba(31, 31, 31, 0.05);
                        }

                        a {
                            padding: 5px 20px;
                            font-size: 15px;
                            line-height: 30px;
                            color: rgb(31, 31, 31);
                            letter-spacing: 0px;
                            font-style: normal;
                            font-weight: 500;

                            &:hover {
                                color: var(--link-color-hover, #d41b65);
                                background-color: transparent;
                            }
                        }
                    }
                }

                &:hover {
                    .sub-menu {
                        visibility: visible;
                        opacity: 1;
                        top: 100%;
                    }
                }
            }
        }
    }

    &.site-header-default {
        .goza-header-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding: 38px 0;
            @include media-breakpoint-down(md) {
                padding: 38px 0;
            }
            &--logo {
                a {
                    display: block;

                    img {
                        max-width: 170px;
                    }
                }
            }

            &--menus {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &--menu {
                .navbar-nav {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    gap: 35px;

                    >li {
                        >a {
                            position: relative;
                            display: block;
                            text-decoration: none;
                            color: var(--header-text-color, #FFF);
                            font-size: 15px;
                            -webkit-transition: 0.3s;
                            transition: 0.3s;
                            letter-spacing: 0px;
                            line-height: 80px;
                            font-style: normal;
                            font-weight: 600;
                            font-family: var(--heading-family, Poppins, sans-serif);

                            &:hover {
                                color: var(--link-color, #d41b65);
                            }

                            &.dropdown-toggle {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            &--cta {
                margin-left: 35px;
                display: flex;
                align-items: center;
                gap: 35px;

                .goza-header-cart-icon {
                    position: relative;
                    cursor: pointer;

                    i {
                        color: #282828;
                        transition: 0.3s;

                        &:hover {
                            color: var(--link-color-hover, #d41b65);
                        }
                    }

                    .goza-total-cart {
                        right: -9px;
                        background: var(--link-color, #d41b65);
                        ;
                        border-radius: 100%;
                        font-size: 11px;
                        font-weight: 600;
                        width: 16px;
                        color: #fff;
                        height: 16px;
                        padding: 0;
                        text-align: center;
                        font-family: sans-serif;
                        line-height: 1;
                        padding: 2.5px 0;
                        margin-right: 1px;
                        position: absolute;
                        top: -5px;
                    }
                }

                .goza-header-button-donate{
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }

                .goza-header-button-donate button.give-btn.give-btn-modal {
                    background: var(--link-color, #d41b65);
                    color: #ebebeb;
                    border: medium none;
                    border-radius: 3px;
                    transition: 0.3s;
                    font-size: 16px;
                    font-weight: normal;
                    letter-spacing: 0px;
                    padding: 13px 20px;
                    line-height: 1.2;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    &::after{
                        background: #fff;
                        content: "";
                        height: 155px;
                        left: -75px;
                        opacity: 0.2;
                        position: absolute;
                        top: -50px;
                        transform: rotate(35deg);
                        transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                        width: 30px;
                        z-index: 1;
                    }
                    &:hover {
                        background: var(--link-color-hover, #dd548b);
                        color: #fff;
                        text-decoration: none;
                        &::after{
                            left: 120%;
                            transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                }

                #goza-hamberger {
                    display: block;
                    cursor: pointer;

                    @include media-breakpoint-up(lg) {
                        display: none;
                    }
                }
            }
        }
    }
}