.site-header {
    &.site-header-charity-new {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;
        background: transparent;

        .logged-in & {
            top: 32px;

            @media screen and (max-width: 782px) {
                top: 46px;
            }
        }

        .goza-header-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 30px;

            @include media-breakpoint-down(md) {
                padding: 10px 0;
            }

            &--logo {
                a {
                    display: block;

                    img {
                        max-width: 150px;
                    }
                }
            }

            &--menus {
                display: flex;
                align-items: center;
                gap: 25px;
            }

            &--menu {
                @media (max-width: 1200px) {
                    display: none;
                }

                .navbar-nav {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    gap: 35px;

                    >li {
                        >a {
                            position: relative;
                            display: block;
                            text-decoration: none;
                            color: var(--header-text-color, #FFF);
                            font-size: 18px;
                            letter-spacing: 0px;
                            font-style: normal;
                            line-height: 50px;
                            font-weight: 500;
                            font-family: var(--heading-family, Poppins, sans-serif);
                            -webkit-transition: 0.3s;
                            transition: 0.3s;

                            &:hover {
                                color: var(--link-color-hover, #71b61b);
                            }

                            &.dropdown-toggle {
                                &::after {
                                    display: none;
                                }
                            }
                        }

                        ul {
                            li {
                                a {
                                    font-family: 'Montserrat';
                                    letter-spacing: 0px;
                                    font-style: normal;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            } 

            &--cta {
                display: flex;
                align-items: center;

                .goza-header-button-donate button.give-btn.give-btn-modal {
                    background: var(--link-color, #71b61b);
                    color: #fff;
                    border: medium none;
                    border-radius: 3px;
                    transition: 0.3s;
                    font-size: 16px;
                    letter-spacing: 0px;
                    padding: 13px 20px;
                    line-height: 1.2;
                    display: block;

                    @media (max-width: 1200px) {
                        display: none;
                    }

                    &:hover {
                        background: var(--link-color-hover, #a1e44e);
                        text-decoration: none;
                    }
                }

                .goza-header-cart-icon {
                    position: relative;
                    cursor: pointer;
                    margin-right: 20px;
                    display: none;

                    @media (max-width: 1200px) {
                        display: block;
                    }

                    i {
                        color: var(--header-text-color, #FFF);
                        transition: 0.3s;

                        &:hover {
                            color: var(--link-color-hover, #71b61b);
                        }
                    }

                    .goza-total-cart {
                        right: -9px;
                        background: var(--link-color, #71b61b);
                        border-radius: 100%;
                        font-size: 11px;
                        font-weight: 600;
                        width: 16px;
                        color: var(--header-text-color, #FFF);
                        height: 16px;
                        padding: 0;
                        text-align: center;
                        font-family: sans-serif;
                        line-height: 1;
                        padding: 2.5px 0;
                        margin-right: 1px;
                        position: absolute;
                        top: -6px;
                    }
                }

                #goza-hamberger {
                    display: none;
                    cursor: pointer;

                    i {
                        color: var(--header-text-color, #FFF);
                    }

                    @media (max-width: 1200px) {
                        display: block;
                    }
                }
            }

            &--phone {
                @media (max-width: 1200px) {
                    display: none;
                }

                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--header-text-color, #FFF);
                    line-height: 50px;

                    i {
                        color: inherit;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}