.site-header{
    #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item {
        > a.mega-menu-link{
            color: var(--header-text-color, rgb(10,10,10));
        }    

        &:hover, &:focus{
            > a.mega-menu-link{
                color: var(--link-color);
            }
            
        }
    }
   #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
        &:hover, &:focus{
            color: var(--link-color);
        }
    }

    #mega-menu-wrap-main-menu #mega-menu-main-menu > li{
        &.mega-current_page_ancestor, &.mega-current-menu-item{
            > a.mega-menu-link{
                color: var(--link-color);
            }
        }
    }
}