.site-header {
    &.site-header-charity-organization {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;

        @include media-breakpoint-up(lg) {
            padding-top: 40px;
        }

        .logged-in & {
            top: 32px;

            @media screen and (max-width: 782px) {
                top: 46px;
            }
        }

        .container {
            @include media-breakpoint-up(lg) {
                width: 95%;
                max-width: 1700px;
            }
        }

        .goza-header-main {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media-breakpoint-down(md) {
                padding: 16px 0;
            }

            &--logo {
                a {
                    display: block;

                    img {
                        max-width: 170px;
                    }
                }
            }

            &--menus {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &--menu {
                .navbar-nav {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    gap: 40px;

                    @include media-breakpoint-down(xl) {
                        gap: 23px;
                    }

                    >li {
                        >a {
                            position: relative;
                            display: block;
                            text-decoration: none;
                            color: var(--header-text-color, #FFF);
                            letter-spacing: 0px;
                            font-style: normal;
                            line-height: 60px;
                            font-size: 17px;
                            font-weight: 400;
                            font-family: var(--body-family, Poppins, sans-serif);
                            -webkit-transition: 0.3s;
                            transition: 0.3s;

                            &:hover {
                                color: var(--link-color-hover, #32cbfe);
                            }

                            &.dropdown-toggle {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            &--cta {
                margin-left: 35px;
                display: flex;
                align-items: center;
                gap: 35px;
                @include media-breakpoint-down(md) { 
                    gap: 24px;
                    margin-left: 24px;
                }

                @include media-breakpoint-down(sm) { 
                    gap: 15px;
                    margin-left: 15px;
                }

                @media (max-width: 359.98px){
                    gap: 24px;
                    margin-left: 24px;
                }

                .goza-header-cart-icon {
                    position: relative;
                    cursor: pointer;

                    i {
                        color: var(--header-text-color, #FFF);
                        transition: 0.3s;

                        &:hover {
                            color: var(--link-color-hover, #32cbfe);
                        }
                    }

                    .goza-total-cart {
                        right: -9px;
                        background: var(--link-color, #32cbfe);
                        border-radius: 100%;
                        font-size: 11px;
                        font-weight: 600;
                        width: 16px;
                        color: var(--header-text-color, #FFF);
                        height: 16px;
                        padding: 0;
                        text-align: center;
                        font-family: sans-serif;
                        line-height: 1;
                        padding: 2.5px 0;
                        margin-right: 1px;
                        position: absolute;
                        top: -6px;
                    }
                }

                .goza-header-search {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.34);

                    @media (max-width: 359.98px){
                        display: none;
                    }

                    i {
                        font-size: 120%;
                        color: var(--header-text-color, #FFF);
                    }
                }

                .goza-header-button-donate button.give-btn.give-btn-modal {
                    background: var(--link-color, #32cbfe);
                    color: #fff;
                    border: medium none;
                    border-radius: 3px;
                    transition: 0.3s;
                    font-size: 16px;
                    letter-spacing: 0px;
                    padding: 13px 20px;
                    line-height: 1.2;
                    display: block;

                    &:hover {
                        background: var(--link-color-hover, #32cbfe);
                        text-decoration: none;
                    }
                }

                #goza-hamberger {
                    display: block;
                    cursor: pointer;

                    i {
                        color: var(--header-text-color, #FFF);
                    }

                    @include media-breakpoint-up(lg) {
                        display: none;
                    }
                }
            }
        }
    }
}