.site-menu-mobile {
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, .3);
    -webkit-transition: 0.3s;
    transition: 0.3s;

    .logged-in & {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

    .--menu-open & {
        visibility: visible;
        opacity: 1;

        .site-menu-mobile-wrap-menu {
            right: 0;
        }
    }

    .off-canvas-menu-closed {
        position: absolute;
        display: block;
        z-index: 5;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 35px;
        text-align: center;
        cursor: pointer;
        font-size: 28px;
        color: #fff;
        background: #333;
        box-shadow: 0 0 26px 3px rgba(0, 0, 0, .3);
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width: 100%;
            height: auto;
            max-width: 15px;
        }
    }

    &-wrap-menu {
        position: absolute;
        right: -100%;
        top: 0;
        width: 260px;
        height: 100%;
        overflow: auto;
        background: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 3;
        -webkit-transition: 0.6s ease;
        transition: 0.6s ease;

        .mobile-menu {
            margin-top: 50px;

            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    &:not(:last-child) {
                        border-bottom: solid 1px rgba(40, 40, 40, 0.05);
                    }

                    a.nav-link, a { 
                        font-size: 15px;
                        line-height: 30px;
                        color: #282828;
                        padding: 5px 20px;
                        position: relative;
                        display: block;
                        text-decoration: none;
                        transition: 0.3s;
                        font-family: var(--body-family, Poppins, sans-serif);
                        letter-spacing: 0px;
                        font-style: normal;
                        font-weight: 500;

                        &:hover {
                            color: var(--link-color, #d41b65);
                        }

                        &.dropdown-toggle {
                            &::after {
                                display: none;
                            }

                            .handle-sub {
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 50px;
                                height: 100%;
                                z-index: 9;
                                &.active{
                                    &::before{
                                        display: none;
                                    }
                                }
                                &::before {
                                    content: "";
                                    height: 10px;
                                    border-left: 1px solid;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    -webkit-transform: translate(-50%, -50%);
                                }

                                &::after {
                                    content: "";
                                    width: 10px;
                                    border-top: 1px solid;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    -webkit-transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }

                    .sub-menu {
                        display: none;
                        position: relative;
                        top: 0;
                        left: 0;
                        padding: 0;
                        margin: 0;
                        float: none;
                        box-shadow: none;
                        border-top: solid 1px rgba(40, 40, 40, 0.05);
                        background: rgba(242, 242, 242, 0.5);

                        li {
                            &:not(:last-child) {
                                border-bottom: solid 1px rgba(40, 40, 40, 0.05);
                            }

                            a {
                                padding: 12px 20px;
                                position: relative;
                                display: block;
                                font-family: var(--heading-family, Poppins, sans-serif);
                                font-weight: 500;
                                &:hover {
                                    color: var(--link-color, #d41b65);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}