/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.goza-list-bullet-block {
	&.is-style-ticks {
		ul {
			li {
				padding-left: 25px;
				position: relative;
				&::before {
					content: "";
					display: inline-block;
					width: 14px;
					height: 8px;
					border-bottom: solid 2px $primary-color;
					border-left: solid 2px $primary-color;
					border-radius: 0;
					background: transparent;
					position: absolute;
					left: 0;
					top: calc(50% - 2px);
					transform: translateY(-50%) rotate(-45deg);
				}
			}
		}
	}

	&.is-style-numbered {
		ul {
			counter-reset: my-awesome-counter;
			list-style: none;
			li {
				counter-increment: my-awesome-counter;
				position: relative;
				padding-left: 38px;
				&::before {
					background-size: 23px;
					width: 26px;
					height: 26px;
					content: counter(my-awesome-counter);
					position: absolute;
					left: 0;
					border-radius: 50%;
					font-weight: bold;
					text-align: center;
					color:#fff;
					font-size: 12.5px;
					line-height: 2.17;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	.inner-block {
		&.column-2 {
			ul {
				@include media-breakpoint-up(md) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
				}
				
			}
		}
	}

	ul {
		padding: 0 !important;
		margin: 0 !important;
		list-style-type: none !important;
		li {
			padding-left: 18px;
			position: relative;
			color: var(--textColor, #823C58);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			&:not(:last-child) {
				margin-bottom: var(--spaceItem, 17px);
			}
			&::before {
				content: "";
				width: 8px;
				height: 8px;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-color: $primary-color;
				border-radius: 50%;
				display: inline-block;
			}
		}
	}
}
